.disk {
  margin-top: 20px;
}

.diskBtn {
  display: flex;

  button {
    cursor: pointer;
  }

}

.uploadInput {
  display: none;
}

.uploadLabel {
  border: 2px solid var(--primary-color);
  margin-left: 10px;
  cursor: pointer;
}

.btnCreate {
  margin-left: 10px;
}
