.authLabel {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  font-size: 18px;
}

.container {
  margin: 0;
}

.authTitle {
  font-size: 40px;
  margin-bottom: 15px;
}

.formControl {
  width: 400px;
  font-size: 20px;
}

.authBtn {
  position: relative;
  min-width: 70px;
  min-height: 38px;
  margin-bottom: 10px;
}
